.about-page{
    display:grid  ;
    grid-template-columns: 2fr 1fr; 
    justify-content: center;
    max-width: 1900px; 
    gap: 1px;
    height: 1000px;
    font-size: 22px;
    justify-content: center;  
    background-color:#08192A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    overflow: hidden;
    padding: 30px;
    margin: 30px auto;
    margin-left: 10px;
    border-radius: 15px;
    padding-bottom: 400px;
}

.about-cont{
   color: white;
   padding-top: 200px;
   margin-right: 350px;
}

.video-cont{
    color: white;
    padding-top: 40px;
}