.booking-container{
    background-color: #08192a;
    border: red solid 3px;
    font-size: 30px;
    display:grid  ;
    justify-content: center; 
 
    grid-template-columns: repeat(1, 1fr);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    text-align: left;
    overflow: hidden;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
    border-radius: 15px;
}

.booking-title{
    font-size: 50px;
    text-align: center;
}