.calendar-button {
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
    padding: 20px 45px;
    font-weight: bold;
    flex: 1 1 calc(30% - 40px); 
    box-sizing: border-box; 
    text-align: center; 
}

.calendar-button-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    width: 70%;
}

.calendar-cont{
    display:grid  ;
    grid-template-columns: 2fr 1fr; 
    justify-content: center;
    max-width: 1900px; 
    gap: 1px;
    background-color: #02121d;
    height: 1000px;
    padding-top: 60px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.calendar{
    justify-content: center;  
    background-color:#08192A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    overflow: hidden;
    padding: 30px;
    padding-bottom: 50px;
    max-width: 500px;
    margin: 30px auto;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 50px;
    margin-left: 150px;
}


.calendar-appointment{
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 500px;
    max-height: 210px;
    border-radius: 15px;
    padding: 18px;
    margin-top: 70px;
}

.calendar-input1{
    font-size: 25px;
    color: white;
    margin-left: 10px;
    overflow-wrap: break-word;
}
.calendar-input2{
    font-size: 25px;
    color: white;
    width: auto;
    flex: 1; 
    margin-left: 140px;
}


.calendar-summary{
    color: #d826e2;
    text-align: center;
    font-size: 30px;
}

.month{
    color: #d826e2;
    margin-left: 470px;
}

.daysofweek{
    color: #d826e2;
}

.weekday {
    padding: 0 6px;
    text-align: center;
  }

.prev-month{
    margin-left: 300px;
    margin-right: 10px;
    color: #d826e2;
    background-color:  #02121d;
    font-size: 25px;
    padding: 12px 25px 10px;
    border: 1px #02121d;
}
.calendar-back-btn{
    color: #d826e2;
    font-size: 20px;
    font-weight: bold;
    background-color: #02121d;
    border: 1px #02121d;
    margin-top: 65px;
}

.available-times{
    color: white;
    margin-left: 10px;
}



  




.light-mode-calendar{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}

.light-mode-available-times{
    color: #02121d;
}

.light-mode-calendar-appointment{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}

.light-mode-calendar-input1{
    color: #02121d;
}

.light-mode-calendar-back-btn{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}

.light-mode-available-times{
    color: #08192A;
    margin-left: 10px;
}

.light-mode-calendar-cont{
    display:grid  ;
    grid-template-columns: 2fr 1fr; 
    justify-content: center;
    max-width: 1900px; 
    gap: 1px;
    background-color: white;
    height: 1000px;
    padding-top: 60px;
}