
.layout-container {
    display:grid  ;
    grid-template-columns: 2fr 1fr; 
    justify-content: center;
    max-width: 1900px; 
    gap: 1px;
    margin-top: 160px;
}

.classic-cont{
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    gap: 50px; 
    background-color:#08192A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 0.25rem;
    text-align: left;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 150px;
    max-width: 1000px;
    margin: 30px auto;
    margin-left: 165px;
    border-radius: 15px;
}

.price-cont{ 
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 400px;
    max-height: 210px;
    border-radius: 15px;
    padding: 18px;

}

.keratin-price-cont{ 
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 410px;
    max-height: 267px;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 30px;

}
.keratin-price-cont-2{ 
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 410px;
    border-radius: 15px;
    padding: 1px;
    padding-bottom: 16px;
}

.mineral-price-cont{ 
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 410px;
    max-height: 290px;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 30px;

}
.mineral-price-cont-2{ 
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 410px;
    border-radius: 15px;
    padding: 1px;
    padding-bottom: 40px;
}


.side-boxes{
    justify-content: center; 
    text-align: left;
    padding: 10px;
    max-width: 400px;
    max-height: 510px;
    margin: 30px;
}

.refill-cont{
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-height: 210px;
    margin-top: 60px;
    border-radius: 15px;
    padding: 18px;
}

.classic-price{
    box-sizing: border-box;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    
}

.fullset-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    box-sizing: border-box;
    margin: 1px;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
}

.price-full-set{
    color: #d826e2;
}

.keratin-full-set{
    color: #d826e2;
    font-size: 22px;
}
.keratin-price{
    color: white;
    font-size: 1.4rem;
}

.mineral-full-set{
    color: #d826e2;
    font-size: 22px;
}
.mineral-price{
    color: white;
    font-size: 1.4rem;
    
}

.keratin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    box-sizing: border-box;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

.mineral-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    box-sizing: border-box;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;

}    
.price{
    color: white;
    font-size: 1.5rem;
}

.time-font{
    color: white;
    font-size: 1.5rem;
    
}

.duration{
    color: white;
    font-size: 1.5rem;
}

.booknow{
    margin-left: 120px;
    margin-top: 9px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: #08192A;
    border-color: #d826e2;
    color:#d826e2
}

.keratin-price{
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 400px;
    max-height: 210px;
    border-radius: 15px;
    padding: 18px;
}

.mineral-price{
    justify-content: center; 
    background-color:#08192A;
    text-align: left;
    max-width: 400px;
    max-height: 250px;
    border-radius: 15px;
    padding: 18px;
}

.classic-title{
    color:white;
    font-size: 40px;
    color: white;
    padding: 0px 0px 16px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0px 25px 0px;
    margin-bottom: -30px;
}

.classic-desc{
    color: white;
    padding: 0px 25px 0px;
    margin: 0px;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.625;
    font-size: 1.5rem;
    letter-spacing: -0.025em;

}

.class-sub-title{
    color: white;
    font-size: 30px;
    margin-bottom: -30px;
    padding: 0px 25px 16px;
}

.classic-nav-link{
    color: #d826e2;
    margin-top: 30px;
    font-size: 20px;
    padding: 0px 25px 16px;
}

.faq{
    color: #d826e2;
    padding: 0px 25px 16px;
}

.faq-questions{
    color: white;
    background-color: #02121d;
    font-size: 22px;
    margin: 25px;
    padding: 20px;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 10px solid white;
    gap:10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
}


@media (max-width: 768px) {
    .classic-cont {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }

    .classic-title,
    .classic-desc,
    .class-sub-title,
    .classic-nav-link,
    .faq,
    .faq-questions {
        padding: 0 10px 16px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 5px;
    }
}



/* light mode */

.light-mode-classic-cont{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}

.light-mode-classic-title{
    color: #02121d;
}

.light-mode-classic-desc{
    color: #02121d;
}

.light-mode-faq-questions{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    border: 1px solid #02121d;
    color:#02121d
}

.light-mode-price-cont{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}

.light-mode-classic-price{
    color: #02121d;
}

.light-mode-booknow{
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    
}

.light-mode-keratin-price{
    justify-content: center; 
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    text-align: left;
    max-width: 400px;
    max-height: 250px;
    border-radius: 15px;
    padding: 18px;
}

.light-mode-keratin-price-cont{ 
    justify-content: center; 
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    text-align: left;
    max-width: 410px;
    max-height: 267px;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 30px;

}
.light-mode-keratin-price-cont-2{ 
    justify-content: center; 
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    text-align: left;
    max-width: 410px;
    border-radius: 15px;
    padding: 1px;
    padding-bottom: 16px;
}


.light-mode-keratin-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    box-sizing: border-box;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

.light-mode-keratin-full-set{
    color: #08192A;
    font-size: 22px;
}
.light-mode-keratin-price{
    color: #08192A;
    font-size: 1.4rem;
}


.light-mode-mineral-price-cont{ 
    justify-content: center; 
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    text-align: left;
    max-width: 410px;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 30px;


}
.light-mode-mineral-price-cont-2{ 
    justify-content: center; 
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    text-align: left;
    max-width: 410px;
    border-radius: 15px;
    padding: 1px;
    padding-bottom: 40px;
}


.light-mode-mineral-full-set{
    color: #d826e2;
    font-size: 22px;
}
.light-mode-mineral-price{
    color: #08192A;
    font-size: 1.4rem;
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
}



.light-mode-mineral-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    box-sizing: border-box;
    min-width: 0px;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;

}    