.service-page{
background-image: url('apartment.jpeg');
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
width: 100%; 
height: 100vh; 
margin-top: -350px;
}

.services-cont{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
    gap: 50px; 
    border-bottom: 1px solid white;
    background-color: var(--theme-ui-colors-card);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 0.25rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem 600px;
    padding-bottom: 150px;

}

.services-card{
    padding: 20px; 
    width: 450px; 
    height: 350px;
    text-align: center; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    background-color:#08192A;
    color: white;
    border-radius: 12px;
    
}
.services-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    overflow: hidden; /* Hide the overflowing text */
    text-overflow: ellipsis; /* Add ellipsis when text overflows */
}


.services-font{
    border-top: 1px solid white;;
    font-size: 22px;
    color: white;
    border-bottom: 1px solid white;
}

.price-font{
    font-size: 24px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.services-btn{
   background-color: #08192A;
   background-color: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
    color: inherit; /* Inherit the text color from the parent */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 19px;
    margin-left: 160px;
}

.services-btn:hover {
    opacity: 0.8; /* Slightly reduce opacity on hover */
}

.service-menu{
    color: white;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    height: 100px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    z-index: 2; 
    height: 30vh; /* Full height of the viewport */
    margin-top: -350px;
    text-shadow: rgb(51, 51, 51) 5px 5px 5px;
}

.lash-lift-cont {
    padding: 20px;
    text-align: center;
}

.lift-title {
    font-size: 26px;
    color: white;
    padding-bottom: 20px;
}

.lash-title{
    font-size: 26px;
    color: white;
    padding-bottom: 20px;
    text-align: center; 
    padding-top: 40px;
}


/* light mode*/

.light-mode-lash-title{
    color: #08192A;
}

.light-mode-service-card{
    color: #08192A;
    background: linear-gradient(315deg, #fbb6ce, #fff5f7 20%, #fed7e2 90%);
    font-weight: bold;
}

.light-mode-services-font{
    color: #08192A;
}

.light-mode-lift-title {
    font-size: 26px;
    color: #08192A;
    padding-bottom: 20px;
}